<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
        >
<!--@elvariable id="pageName" type="java.lang.String"-->
<f:view locale="lt">
    <h:head>
        <meta charset="UTF-8"/>
        <title>#{pageName}</title>
    </h:head>

    <h:body>
        <h:panelGroup id="page" layout="block">
            <h:panelGroup id="container" layout="block">

                <table>
                    <tr valign="top">
                        <td style="width: 100%; text-align: center">
                            <div style="display: inline-block; text-align: left">
                                <h1>#{pageName}</h1>

                                <ui:insert name="content" />

                            </div>
                        </td>
                    </tr>
                </table>
            </h:panelGroup>
        </h:panelGroup>

        <f:facet name="last">
            <h:outputStylesheet name="css/styles.css" />
        </f:facet>

    </h:body>
</f:view>
</html>