<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
>
<h:head/>
<h:body>
    <ui:composition template="/WEB-INF/templates/mainLayout.xhtml">
        <ui:param name="pageName" value="Tai va žinai, taip ir gyvenam"/>

        <ui:define name="content">
            <dl>
                <dd>
                    <p>
                        <h:link outcome="simple-usecase-jpa">JPA</h:link><br/>
                        <h:link outcome="simple-usecase-mybatis">MyBatis</h:link>
                    </p>
                </dd>
            </dl>
        </ui:define>
    </ui:composition>
</h:body>
</html>