<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
    <h:head>
        <h:outputStylesheet name="css/styles.css" />
        <title>JPA</title>
    </h:head>

    <h:body>
        <h1>JPA</h1>
        <h:form>
            <p:fieldset legend="All employees" toggleable="true" style="width: 50%">
                <p:dataTable value="#{requestUseCaseControllerJPA.allEmployees}" var="employee">
                    <p:column headerText="Employee">
                        <h:outputText value="#{employee.firstName} #{employee.lastName} #{employee.registrationNo}" />
                    </p:column>
                    <p:column headerText="Branches">
                        <ui:repeat var="branch" value="#{employee.branchList}">
                            <h:outputText value="#{branch.name} " />
                        </ui:repeat>
                    </p:column>
                    <p:column headerText="Company">
                        <h:outputText value="#{employee.company.title} " />
                    </p:column>
                </p:dataTable>
            </p:fieldset>

            <h2>Create new employee and branch</h2>
            <table>
                <tr>
                    <td>
                        <h:panelGrid columns="3">
                            <p:outputLabel for="firstName" value="First name"/>
                            <p:inputText id="firstName" value="#{requestUseCaseControllerJPA.employee.firstName}"/>
                            <p:message for="firstName"/>

                            <p:outputLabel for="lastName" value="Last name"/>
                            <p:inputText id="lastName" value="#{requestUseCaseControllerJPA.employee.lastName}"/>
                            <p:message for="lastName"/>

                            <p:outputLabel for="regnr" value="Registration No."/>
                            <p:inputText id="regnr" value="#{requestUseCaseControllerJPA.employee.registrationNo}"/>
                            <p:message for="regnr"/>
                        </h:panelGrid>
                    </td>
                    <td>
                        <h:panelGrid columns="3">
                            <p:outputLabel for="branchName" value="Branch name"/>
                            <p:inputText id="branchName" value="#{requestUseCaseControllerJPA.branch.name}"/>
                            <p:message for="branchName"/>
                        </h:panelGrid>
                    </td>
                </tr>
            </table>

            <p:commandButton value="Create employee and branch"
                             actionListener="#{requestUseCaseControllerJPA.createBranchEmployee()}"
                             action="simple-usecase-jpa?faces-redirect=true"
                             ajax="false"/>

            <p:messages globalOnly="true"/>
        </h:form>

    </h:body>
</html>

